.gallery-card1-gallery-card {
  width: 352px;
  height: 442px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.gallery-card1-image {
  width: 215px;
  height: 307px;
  object-fit: cover;
}
.gallery-card1-button {
  color: #fdfbfb;
  width: 99px;
  height: 36px;
  box-shadow: 5px 5px 10px 0px #ff8c92;
  font-style: normal;
  font-weight: 700;
  border-color: #ff8c92;
  padding-left: 28px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: uppercase;
  background-color: #ff8c92;
}

