.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-text {
  color: #ef8788;
}
.navigation-links1-text1 {
  color: #ef8788;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text2 {
  color: #ef8788;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text3 {
  color: #ef8788;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text4 {
  color: #ef8788;
  margin-left: var(--dl-space-space-twounits);
}








